{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
  <!-- <title>Glowing Inputs Login Form UI</title> -->
  <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <div class="login-form">
    <div class="text">LOGIN</div>
    <form method="POST" action="/project/">
    {% csrf_token %}
      <div class="field">
        <div class="fas fa-envelope"></div>
          <input type="text" name="email" required="required" placeholder="Email or Phone">
        </div>
        <div class="field">
          <div class="fas fa-lock"></div>
          <input type="password" name="password" required="required" placeholder="Password">
        </div>
        <center><label class = "text-danger">{{ msg }}</label></center>
        <button type="submit" id="login">LOGIN</button>
        <div class="link">
          Not a member?
          <a href="{% url 'register'%}">Register</a>
        </div>
    </form>
    </div>
</body>
</html>