{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/style_registration.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>
  <body>
    <div class="signup-form">
      <form class="" method="POST">
        {% csrf_token %}
        <h1>Registration</h1>
        <input type="text" placeholder="First Name" class="txtb" name="fname" required>
        <input type="text" placeholder="Last Name" class="txtb" name="lname" required>
        <input type="email" placeholder="Email" class="txtb" name="email" required>
        <input type="password" placeholder="Password" class="txtb" name="pwd" required>
        <input type="password" placeholder="Re-Password" class="txtb" name="repwd" required>
        <center><label class = "text-danger">{{ msg }}</label></center>
        <input type="submit" value="Create Account" class="signup-btn">
        <a href="{% url 'login' %}">Already have one ?</a>
      </form>
    </div>
  </body>
</html>